* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #000000,  
    #0c0c0c,
    #161617,
    #1f2021,
    #28292b,
    #313335,
    #3a3c3e,
    #434548,
    #444749,
    #45494b,
    #464b4c,
    #474d4d
  );
  background-size: 400% 400%;
  color: #a3a2a3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
  animation: smoothGradientShift 110s ease infinite;
}

@keyframes smoothGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;

  }
  100% {
    background-position: 0% 50%;
  }
}