* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #000000,  
    #0c0c0c,
    #161617,
    #1f2021,
    #28292b,
    #313335,
    #3a3c3e,
    #434548,
    #444749,
    #45494b,
    #464b4c,
    #474d4d
  );
  background-size: 400% 400%;
  color: #a3a2a3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
  animation: smoothGradientShift 110s ease infinite;
}

@keyframes smoothGradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;

  }
  100% {
    background-position: 0% 50%;
  }
}

.notification-main {
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30%;
  transition: opacity 0.3s ease, visibility 0.3s ease ;
}

.notification-item {
  flex-direction: column;
  padding: 10px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notification-button-close {
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

.close-notification-button { 
  margin-left: auto;
  background-color: transparent;
  border: 0px;
  color: #a3a2a3;
  font-size: 15px;
  cursor: pointer;
}

.notifications-container { 
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 90%;
  transform: translateX(-50%);
  padding: 10px;
}

.notification-data-container {
  margin-top: -10px;
} 

.notification-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.notification-type {
  margin-bottom: auto;
  display: flex;
  align-items: start;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  opacity: 0;
  animation: slideIn 0.2s ease forwards;
}

.notification-animation-open {
  animation: notification-open-slideIn 0.2s ease forwards;
}

@keyframes notification-open-slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notification-animation-close {
  animation: notification-close-slideIn 0.2s ease forwards;
}

@keyframes notification-close-slideIn {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}