.create-server-main {
  min-height: 100vh;
  padding: 20px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.create-server-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  padding: 20px; 
}

.create-server-form {
  max-width: 500px; 
  width: 100%; 
  background-color: rgba(53, 53, 54, 0.7);
  padding: 40px; 
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(23, 23, 24, 0.54); 
  gap: 20px; 
}

.server-data {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 100%;
}

.server-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.server-avatar-label {
  border: 2px solid rgba(23, 23, 24, 0.54);
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px; 
  border-radius: 12px;
  width: 150px; 
  height: 150px;
  cursor: pointer;
  transition: all 0.3s;
}

.server-avatar-label:hover {
  border-color: #ced0d8;
  background-color: rgba(114, 137, 218, 0.1);
}

.avatar-overlay {
  text-align: center;
  color: #b9bbbe;
}

.server-text-container {
  width: 100%;
}

.server-name-input, .server-avatar-input {
  width: 100%;
  background-color: #292929;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  border-width: 2px;
  border-image: initial;
  border-radius: 12px;
  padding: 14px 16px;
  transition: 0.5s;
  box-shadow: inset #1717188a 2px 2px 12px;
  color: #a3a2a3  
}

input::placeholder {
  opacity: 0.6;
}

.server-name-input:focus, .server-avatar-input:focus {
  outline: none;
  box-shadow: inset #504f4f8a 2px 2px 12px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.create-server-button {
  background-color: #292929;  
  border: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  color: #a3a2a3;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.create-server-button:focus {
  outline: none;
  box-shadow: inset #504f4f8a 2px 2px 12px;
}

.create-server-button:hover {
  background-color: #434548;
}



