.profile-main {
  height: 100vh;
  display: flex;
  background-color: rgba(74, 77, 77, 0.7);
  padding: 20px;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 80px; 
}

.card-info_full_info {
  display: flex;
  width: 50%;
  min-height: 300px; 
  position: relative;
  background-color: rgba(96, 99, 99, 0.5);
  flex-direction: column;
  border-radius: 12px;
  gap: 20px;
  margin: 80px auto 0; 
  padding: 20px;
}

.card-header_full-name {
  display: flex;
  gap: 20px;
}

.card-header_user-login {
  font-size: 18px;
}

.card-body_user_info {
  display: flex;
  align-items: center;
}