.profile-main {
  padding: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover; 
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.profile-image:hover {
  filter: brightness(0.8);
}

.card-info_full_info {
  display: flex;
  width: 100%;
  max-width: 600px; 
  min-height: auto; 
  background-color: rgba(47, 49, 54, 0.9); 
  flex-direction: column;
  border-radius: 12px;
  padding: 30px;
  margin: 0 auto; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.card-header_full-name {
  display: flex;
  align-items: center; 
  gap: 25px;
}

.verify-email {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}