.verify-main {
  min-height: 100vh;
  padding: 20px;
}

.verify-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
}

.verify-form {
  max-width: 400px;
  width: 100%; 
  background-color: rgba(53, 53, 54, 0.7);
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(23, 23, 24, 0.54); 
  gap: 15px; 
  font-size: 14px;
}

.input-confirm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email, .code {
  background-color: #292929;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  border-width: 2px;
  border-image: initial;
  border-radius: 12px;
  padding: 14px 16px;
  transition: 0.5s;
  box-shadow: inset #1717188a 2px 2px 12px;
  color: #a3a2a3  
}

input::placeholder {
  opacity: 0.6;
}

label {
  padding: 5px;
}

.email-button, .code-button {
  background-color: #292929;  
  border: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  color: #a3a2a3;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
}

.email:focus, .code:focus {
  outline: none;
  box-shadow: inset #504f4f8a 2px 2px 12px;
}

.email-button:hover, .code-button:hover {
  background-color: #434548;
}
